<div id="LoginForm">
  <div class="container">
    <div class="login-form">
      <div class="main-div">
        <div class="panel">
          <h2>Alquiler de barbacoas</h2>

          <form id="Login" method="POST" [formGroup]="form">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="email" formControlName="email">
              <small class="text-danger text-left" *ngIf="form['controls'].email.errors?.email && (form['controls'].email.touched || form['controls'].email.dirty)">
                Correo electronico no valido
              </small>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" formControlName="password">
              <small class="text-danger" *ngIf="form['controls'].password.errors?.required && (form['controls'].password.touched || form['controls'].password.dirty)">
                Contraseña es requerida
              </small>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid" (click)="login()">Entrar</button>
          </form>
          <button type="button" (click)="goRegister()" class="btn btn-default">Registrate</button>
        </div>
      </div>
    </div>
  </div>
</div>
