 agm-map {
   height: 300px;
 }

 .fondo{
       background-image: url("/assets/register.jpg");
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
       padding: 10px;
       height: 100vh;
 }