<div class="fondo">
  <div class="container">
    <app-menu></app-menu>
  </div>
  <div class="container" style="margin-top:2%;">

    <div *ngIf="barbecues.length < 1" class="text-center">
      <h4>No tiene nada cercano</h4>
    </div>

    <div class="card-deck">
      <div class="row">
        <div class="col-4" *ngFor="let item of barbecues" style="padding-bottom: 10px;">
          <div class="card">
            <img class="card-img-top" [src]="item.image" alt="Card image cap" height="200">
            <div class="card-body">
              <h5 class="card-title">{{ item.name }}</h5>
              <p class="card-text">{{ item.description | slice:0:100 }}</p>
              <div class="card-text">
                <div class="row">
                  <div class="col-6">
                    <small class="text-muted">
                      Estado:
                      <span *ngIf="item.available == 1; else elseAvailable" class="badge badge-primary">Disponible</span>
                      <ng-template #elseAvailable>
                        <span class="badge badge-danger">No disponible</span>
                      </ng-template>
                    </small>
                  </div>
                  <div class="col-6">
                    <p class="text-success text-right"><span class="text-dark">Costo</span>: ${{ item.cost }}</p>
                  </div>
                </div>
              </div>
              <p class="card-text">
                <a href="#" (click)="viewMap(item.latitude, item.longitude, $event)" data-toggle="modal" data-target=".bd-example-modal-sm">Ver
                  <i class="fa fa-map-marker-alt"></i></a>
              </p>
              <div class="card-text text-center" *ngIf="item.available != 0">
                <button type="button" class="btn btn-block btn-dark" (click)="alquilar(item.id)">Alquilar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="16">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>

</div>
