<div id="RegisterForm">
  <div class="container">
    <div class="register-form">
      <div class="main-div">
        <div class="panel">
          <h2>Registrate en Barbacoas Panamá</h2>

          <div id="register">
            <form id="register" method="POST" [formGroup]="formRegister">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="name" formControlName="name">
                <small class="text-danger text-left" *ngIf="formRegister['controls'].name.errors?.required && (formRegister['controls'].name.touched || formRegister['controls'].name.dirty)">
                  El nombre completo es requerido
                </small>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="email" formControlName="email">
                <small class="text-danger text-left" *ngIf="formRegister['controls'].email.errors?.email && (formRegister['controls'].email.touched || formRegister['controls'].email.dirty)">
                  El email es requerido y debe escribirlo correctamente
                </small>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" formControlName="password">
                <small class="text-danger text-left" *ngIf="formRegister['controls'].password.errors?.required && (formRegister['controls'].password.touched || formRegister['controls'].password.dirty)">
                  El password es requrido
                </small>
              </div>
              <div class="form-group">
                <input type="number" class="form-control" placeholder="Zip code" formControlName="zip_code">
                <small class="text-danger text-left" *ngIf="formRegister['controls'].zip_code.errors?.required && (formRegister['controls'].zip_code.touched || formRegister['controls'].zip_code.dirty)">
                  El codigo postal es requrido
                </small>
              </div>
              <button type="submit" class="btn btn-danger" [disabled]="formRegister.invalid" (click)="signUp()">Registrarme
                <i class="fa fa-spinner fa-spin" *ngIf="isLoading"></i></button>
            </form>
            <button type="button" class="btn btn-default" (click)="goLogin()">Volver</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
